In [1]:
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd
import numpy as np
import geopandas
import matplotlib.pyplot as plt
from shapely.geometry import Point,Polygon
import csv
import random
from geopandas.tools import sjoin
import multiprocessing as mp
import time

In [2]:
lat = []
lon = []
data_points = 100000
for i in range(data_points):
    x = random.uniform(-90,90)
    lat.append(x)
    
    
for i in range(data_points):
    x = random.uniform(-180,180)
    lon.append(x)

df_cord = pd.DataFrame(lon , columns = ['Lon'])
df_cord['Lat'] = lat
geometry = [Point(xy) for xy in zip(df_cord.Lon, df_cord.Lat)]
df_cord = df_cord.drop(['Lon' , 'Lat' ], axis=1)
crs = {'init': 'epsg:4326'}
gdf = geopandas.GeoDataFrame(df_cord, crs=crs, geometry=geometry)

In [3]:
print(gdf.shape)

(100000, 1)

In [4]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
# ax = world.plot( color='white', edgecolor='black' ,figsize = (40,30))
# gdf.plot(ax=ax, color='red')
# plt.title("World map showing location of given coordinate")
# print(world.head(3))
# plt.show()

In [5]:
df_new = world[['continent' , 'name' , 'geometry']]

In [6]:
def computation(data_split):
    for index,row in data_split.iterrows():
        filter = df_new['geometry'].contains(row['geometry'])
        x = df_new.loc[filter]
        value_c = x['name'].to_string(index = False)
        data_split.loc[index, 'Country'] = value_c if value_c != 'Series([], )' else np.NaN
    return data_split

In [7]:
#computation(gdf)

In [8]:
from pathos.multiprocessing import ProcessingPool as Pool

In [9]:
start_time = time.time()  

cores = 15
partitions = 15


data_split = np.array_split(gdf, cores, axis=0)
pool = Pool(cores)
for i in range(len(data_split)):
    print(data_split[i].shape)
df_out = np.vstack(pool.map(computation, data_split))
pool.close()
pool.join()
pool.clear()
print("--- %s seconds ---" % (time.time() - start_time))

(6667, 1)
(6667, 1)
(6667, 1)
(6667, 1)
(6667, 1)
(6667, 1)
(6667, 1)
(6667, 1)
(6667, 1)
(6667, 1)
(6666, 1)
(6666, 1)
(6666, 1)
(6666, 1)
(6666, 1)
--- 212.1420600414276 seconds ---

In [10]:
op  = pd.DataFrame(data = df_out)
print(op)

                                                   0            1
0       POINT (-63.47758808065264 34.06728956726852)          NaN
1      POINT (-53.00429894148033 -20.76267013040132)       Brazil
2        POINT (35.54866507203954 56.79228919208646)       Russia
3       POINT (-73.34602908537508 53.63442609178307)       Canada
4       POINT (133.0552173636676 -39.54844742628094)          NaN
5       POINT (99.04144404751935 -5.984940654737855)          NaN
6       POINT (-94.38075245515431 -87.7917229232479)   Antarctica
7      POINT (-2.813331133956666 -76.69103684786637)   Antarctica
8       POINT (-32.90066372263988 66.53902313002808)          NaN
9      POINT (-72.84152509283891 -43.75042611245143)        Chile
10     POINT (-127.6635261808017 -11.27898824146122)          NaN
11      POINT (95.66053474529929 -77.12052949301444)   Antarctica
12      POINT (-9.674171851346216 35.37751346177606)          NaN
13       POINT (137.1739763283173 43.87521241907908)          NaN
14      POINT (123.8092105158034 -31.89287281259981)    Australia
15     POINT (-44.85995625629386 -61.35799749957656)          NaN
16     POINT (-71.86513467377955 -26.58174916347989)          NaN
17      POINT (56.87965461368211 -85.48825729229267)   Antarctica
18     POINT (-151.5854693968978 -48.76154804743701)          NaN
19      POINT (-60.94357981865318 47.10873673773531)          NaN
20          POINT (148.5208239786503 1.345118727065)          NaN
21       POINT (90.28027968585343 4.281670362194163)          NaN
22      POINT (-47.23971002509069 13.96243847767226)          NaN
23       POINT (42.6738713426227 -16.90210967758067)          NaN
24      POINT (-81.25344707668285 64.01464235908423)          NaN
25     POINT (-106.2983951282046 -54.20941456612749)          NaN
26     POINT (-145.9325318290582 -88.78518496540156)   Antarctica
27      POINT (-161.9527219933953 -33.3788647385749)          NaN
28      POINT (-104.0807013863743 83.59363567815231)          NaN
29      POINT (-106.5744928835886 76.08372067440382)          NaN
...                                              ...          ...
99970  POINT (-136.1980689823995 -24.51953892071386)          NaN
99971    POINT (-69.0880724488881 32.85138739734843)          NaN
99972    POINT (99.85717511895183 53.09774338720712)       Russia
99973    POINT (-26.13903805324742 67.8010074404161)          NaN
99974    POINT (53.47519041593651 30.89513558828776)         Iran
99975  POINT (-101.1143810125347 -22.68942075853019)          NaN
99976  POINT (-29.05216845188903 -85.62499713465991)   Antarctica
99977    POINT (1.106709384065653 1.470259197833954)          NaN
99978   POINT (-5.359393616003047 87.63738713262046)          NaN
99979   POINT (-42.16254264978897 24.63845303959168)          NaN
99980    POINT (-75.0838571429164 17.22526445903173)          NaN
99981   POINT (-98.22452760169936 -56.7013148711069)          NaN
99982    POINT (0.2959674074560894 -58.259501884823)          NaN
99983   POINT (-55.72711601091696 87.34302965265212)          NaN
99984  POINT (-151.0229722165409 -74.34896418573665)          NaN
99985  POINT (-63.47036223840885 -76.34134641958305)          NaN
99986    POINT (68.70256234002355 15.84282105251127)          NaN
99987  POINT (-82.73146092175858 -23.00033780755749)          NaN
99988   POINT (134.9367298255204 -24.88564752967785)    Australia
99989   POINT (-109.6689289919471 -29.7449438299849)          NaN
99990   POINT (94.41718344914852 -11.28022628504542)          NaN
99991  POINT (-7.764639216998347 -55.55732039922095)          NaN
99992      POINT (56.8328005677599 81.5884597642542)          NaN
99993   POINT (123.9420935528178 -48.42332614332717)          NaN
99994   POINT (4.447333451505472 -47.08462846316304)          NaN
99995    POINT (85.88451441952537 10.97193123017169)          NaN
99996   POINT (-103.3673505386128 83.79589804052912)          NaN
99997    POINT (27.29758055000761 18.00221407762511)        Sudan
99998   POINT (-56.81433610325004 61.06506663073912)          NaN
99999   POINT (-92.36122760001024 71.19514231865617)          NaN

[100000 rows x 2 columns]