In [2]:
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd
import numpy as np
import geopandas
import matplotlib.pyplot as plt
from shapely.geometry import Point,Polygon
import csv
import random
from geopandas.tools import sjoin
import multiprocessing
import time
from pathos.multiprocessing import ProcessingPool as Pool
from prettytable import PrettyTable

In [2]:
!python --version
import platform
print(platform.platform())
print("cpu cores: {0}".format(multiprocessing.cpu_count()))

Python 3.7.3
Darwin-18.6.0-x86_64-i386-64bit
cpu cores: 4

In [3]:
lat = []
lon = []
data_points = 100000
for i in range(data_points):
    x = random.uniform(-90,90)
    lat.append(x)
    
    
for i in range(data_points):
    x = random.uniform(-180,180)
    lon.append(x)

df_cord = pd.DataFrame(lon , columns = ['Lon'])
df_cord['Lat'] = lat
geometry = [Point(xy) for xy in zip(df_cord.Lon, df_cord.Lat)]
df_cord = df_cord.drop(['Lon' , 'Lat' ], axis=1)
crs = {'init': 'epsg:4326'}
gdf = geopandas.GeoDataFrame(df_cord, crs=crs, geometry=geometry)

In [4]:
print(gdf.shape)

(100000, 1)

In [5]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
# ax = world.plot( color='white', edgecolor='black' ,figsize = (40,30))
# gdf.plot(ax=ax, color='red')
# plt.title("World map showing location of given coordinate")
# print(world.head(3))
# plt.show()

In [6]:
df_new = world[['continent' , 'name' , 'geometry']]

In [7]:
def computation(data_split):
    for index,row in data_split.iterrows():
        filter = df_new['geometry'].contains(row['geometry'])
        x = df_new.loc[filter]
        value_c = x['name'].to_string(index = False)
        data_split.loc[index, 'Country'] = value_c if value_c != 'Series([], )' else np.NaN
    return data_split

In [8]:
#computation(gdf)

In [9]:
start_time = time.time()  

cores = 16
partitions = 16


data_split = np.array_split(gdf, cores, axis=0)
pool = Pool(cores)
for i in range(len(data_split)):
    print(data_split[i].shape)
df_out = np.vstack(pool.map(computation, data_split))
pool.close()
pool.join()
pool.clear()
print("--- %s seconds ---" % (time.time() - start_time))

(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
(6250, 1)
--- 213.08127999305725 seconds ---

In [10]:
op  = pd.DataFrame(data = df_out)
print(op)

                                                   0                 1
0       POINT (-99.90811557000129 57.01409711852594)            Canada
1       POINT (-160.2887368042639 77.66883577638831)               NaN
2        POINT (175.9016256556254 40.52129850108327)               NaN
3      POINT (-111.4273966019301 -89.62595891533937)        Antarctica
4       POINT (34.71782639384764 -65.62833163578861)               NaN
5        POINT (111.9882467757029 -25.5673409700282)               NaN
6       POINT (24.45843345527911 -2.480037226276963)   Dem. Rep. Congo
7       POINT (-174.9185150908384 11.43981517633384)               NaN
8       POINT (-134.0419217231101 28.01856448458116)               NaN
9        POINT (117.3965502397749 36.02321487574385)             China
10       POINT (23.5020595733254 -26.52499719262659)      South Africa
11       POINT (112.1719725145896 70.37431381937975)            Russia
12     POINT (-53.61506528945073 -27.63367912752224)            Brazil
13      POINT (129.7187915360278 -28.74357485166252)         Australia
14      POINT (115.4204034643027 -52.80557541574155)               NaN
15      POINT (59.94488776832495 -24.61835791416971)               NaN
16      POINT (-9.388523936287754 18.82435925327897)        Mauritania
17      POINT (-41.55336158472753 77.86138110292558)         Greenland
18     POINT (-177.6650910265471 -64.34930232784475)               NaN
19       POINT (125.9813028266142 18.91793771253482)               NaN
20     POINT (-163.4692526047385 -49.71038919390733)               NaN
21      POINT (-46.75335518970402 61.61109883990682)         Greenland
22       POINT (-161.6705704735694 28.3557645339197)               NaN
23       POINT (-130.5981872891053 22.1742328940438)               NaN
24       POINT (84.02671120725154 51.47468942444843)            Russia
25      POINT (-98.1521979371398 -65.59133644585134)               NaN
26      POINT (71.04438280682902 -79.53921152207509)        Antarctica
27       POINT (163.7879261597399 22.79038581810458)               NaN
28       POINT (39.6354238029293 -6.510596886538323)               NaN
29      POINT (-90.64389529409236 50.09680161512935)            Canada
...                                              ...               ...
99970   POINT (30.33877930765553 -83.71206418042746)        Antarctica
99971    POINT (33.99458155173775 84.74714476829368)               NaN
99972  POINT (-163.8192285391344 -48.49079159655275)               NaN
99973   POINT (-43.4931263402344 -39.44522780602956)               NaN
99974    POINT (-134.1777011706227 67.2794767167442)            Canada
99975   POINT (-70.52050019679031 72.35479826217812)               NaN
99976  POINT (-140.1586162499145 -72.78032360486934)               NaN
99977     POINT (118.3519453476547 17.4122525454143)               NaN
99978   POINT (14.80029066344883 -57.64823014705182)               NaN
99979    POINT (144.2197501998315 12.74783652816362)               NaN
99980   POINT (-41.26381962938899 72.22463025820039)         Greenland
99981    POINT (110.1166886808236 47.18294681588497)          Mongolia
99982     POINT (59.0113265198475 33.25834285455178)              Iran
99983   POINT (29.63770748251017 -72.97518208439882)        Antarctica
99984   POINT (0.761539209011346 -15.12895220200937)               NaN
99985  POINT (-123.5003248811945 -8.422921925620528)               NaN
99986   POINT (-57.19744486806556 62.55488998211939)               NaN
99987    POINT (93.3740462553564 -33.77262678896445)               NaN
99988    POINT (175.1608710984342 88.81776293358578)               NaN
99989  POINT (-134.6828645797044 -59.32163290700004)               NaN
99990    POINT (116.0366920702693 56.24877487721349)            Russia
99991    POINT (147.5534935538784 86.39002814361891)               NaN
99992     POINT (80.99240183721321 12.1454606700654)               NaN
99993  POINT (-151.8846147724591 -84.33861091369494)               NaN
99994   POINT (-4.422292387183887 -1.08817170884511)               NaN
99995     POINT (83.22097047046265 21.2565528415053)             India
99996   POINT (119.3616484031774 -46.73234134924331)               NaN
99997   POINT (-155.924589266202 -50.11204572719429)               NaN
99998    POINT (115.8397117823345 16.93642217722102)               NaN
99999   POINT (-153.6964615558387 -40.7428002871407)               NaN

[100000 rows x 2 columns]

In [7]:
x = PrettyTable()

x.field_names = ["S.No." ," Number of Partitions", "Data Points per partition", "Time taken to run(minutes)"]
x.add_row([0, 0, 1000000, 155])
x.add_row([1, 4, 250000, 55])
x.add_row([2, 8, 125000, 40])
x.add_row([3, 12, 83333, 36])                 
x.add_row([4, 16, 6250, 35.5])

In [9]:
print("For 1 million data points")
print(x)

For 1 million data points
+-------+-----------------------+---------------------------+----------------------------+
| S.No. |  Number of Partitions | Data Points per partition | Time taken to run(minutes) |
+-------+-----------------------+---------------------------+----------------------------+
|   0   |           0           |          1000000          |            155             |
|   1   |           4           |           250000          |             55             |
|   2   |           8           |           125000          |             40             |
|   3   |           12          |           83333           |             36             |
|   4   |           16          |            6250           |            35.5            |
+-------+-----------------------+---------------------------+----------------------------+