In [1]:
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd
import numpy as np
import geopandas
import matplotlib.pyplot as plt
from shapely.geometry import Point,Polygon
import csv
import random
from geopandas.tools import sjoin
import multiprocessing
import time
from pathos.multiprocessing import ProcessingPool as Pool
from prettytable import PrettyTable

In [2]:
!python --version
import platform
print(platform.platform())
print("cpu cores: {0}".format(multiprocessing.cpu_count()))

Python 3.7.3
Darwin-18.6.0-x86_64-i386-64bit
cpu cores: 4

In [3]:
lat = []
lon = []
data_points = 100000
for i in range(data_points):
    x = random.uniform(-90,90)
    lat.append(x)
    
    
for i in range(data_points):
    x = random.uniform(-180,180)
    lon.append(x)

df_cord = pd.DataFrame(lon , columns = ['Lon'])
df_cord['Lat'] = lat
geometry = [Point(xy) for xy in zip(df_cord.Lon, df_cord.Lat)]
df_cord = df_cord.drop(['Lon' , 'Lat' ], axis=1)
crs = {'init': 'epsg:4326'}
gdf = geopandas.GeoDataFrame(df_cord, crs=crs, geometry=geometry)

In [4]:
print(gdf.shape)

(100000, 1)

In [5]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))
# ax = world.plot( color='white', edgecolor='black' ,figsize = (40,30))
# gdf.plot(ax=ax, color='red')
# plt.title("World map showing location of given coordinate")
# print(world.head(3))
# plt.show()

In [6]:
df_new = world[['continent' , 'name' , 'geometry']]

In [7]:
def computation(data_split):
    for index,row in data_split.iterrows():
        filter = df_new['geometry'].contains(row['geometry'])
        x = df_new.loc[filter]
        value_c = x['name'].to_string(index = False)
        data_split.loc[index, 'Country'] = value_c if value_c != 'Series([], )' else np.NaN
    return data_split

In [8]:
#computation(gdf)

In [9]:
start_time = time.time()  

cores = 32
partitions = 32


data_split = np.array_split(gdf, cores, axis=0)
pool = Pool(cores)
for i in range(len(data_split)):
    print(data_split[i].shape)
df_out = np.vstack(pool.map(computation, data_split))
pool.close()
pool.join()
pool.clear()
print("--- %s seconds ---" % (time.time() - start_time))

(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
(3125, 1)
--- 183.68983602523804 seconds ---

In [10]:
op  = pd.DataFrame(data = df_out)
print(op)

                                                    0                 1
0         POINT (164.2954037092926 85.89183015170727)               NaN
1          POINT (136.355165572281 72.89629359293937)               NaN
2        POINT (-98.26515234379488 54.49722717074582)            Canada
3        POINT (-139.225293784404 -33.34597115111665)               NaN
4        POINT (54.96836321304835 -33.82780483374481)               NaN
5       POINT (-97.08654113291566 -30.40771487099786)               NaN
6         POINT (85.82116392749214 27.93633091746344)             Nepal
7        POINT (-130.2923104363879 74.96457221016703)               NaN
8      POINT (-0.5194762779173061 -61.34264935703615)               NaN
9         POINT (29.21840626428059 12.48343851891812)             Sudan
10     POINT (-0.8791770623273578 -69.84084543208823)               NaN
11      POINT (-48.82479096033819 -51.83831674273843)               NaN
12        POINT (118.5215908512287 88.48466654772125)               NaN
13        POINT (154.1788466950763 17.38216894396459)               NaN
14      POINT (-147.7508556725397 0.1459533520432643)               NaN
15         POINT (164.531349074237 43.22365076106038)               NaN
16       POINT (-172.8972167952001 76.01326698716653)               NaN
17       POINT (21.87264406944163 -4.556140149025211)   Dem. Rep. Congo
18      POINT (-32.68736996815838 -38.45333246090828)               NaN
19        POINT (13.9571257003071 -54.16854028309445)               NaN
20      POINT (-46.69892528755659 -33.48760589183504)               NaN
21      POINT (-167.1952475144454 -30.51615701308781)               NaN
22        POINT (93.71474242880026 60.01685979737346)            Russia
23       POINT (-150.9611410413351 10.18562999801892)               NaN
24      POINT (-118.3580445624145 -23.87808901009245)               NaN
25      POINT (-37.71049026191056 -62.12769605002107)               NaN
26       POINT (152.5750762770402 -82.60698648068123)        Antarctica
27       POINT (-51.60548755158285 59.27657821084756)               NaN
28         POINT (147.3131045823555 52.1871291012279)               NaN
29      POINT (-89.66457159225837 -70.62276584699302)               NaN
...                                               ...               ...
99970     POINT (168.1598821351523 81.22745281839693)               NaN
99971    POINT (150.0480523460552 -81.11959314760311)        Antarctica
99972   POINT (-30.99984420789434 -80.85780864029236)        Antarctica
99973    POINT (-168.980292400373 -87.87456822020869)        Antarctica
99974     POINT (-147.3569811679607 81.6514761021142)               NaN
99975   POINT (-126.9564395779487 -63.96786816452749)               NaN
99976    POINT (94.56987318196133 -62.77634932608303)               NaN
99977     POINT (-155.171504492571 21.69624312633032)               NaN
99978    POINT (78.20332066010195 -85.51649147093433)        Antarctica
99979     POINT (16.80827653811903 85.88042074312241)               NaN
99980    POINT (-80.98759669828877 26.05744694533736)     United States
99981    POINT (-91.17499744203027 76.23934231360187)            Canada
99982    POINT (-119.1844163451067 75.56850270618676)               NaN
99983   POINT (-78.04170767005995 -1.007424597242405)           Ecuador
99984     POINT (92.13740668234061 84.21433139633547)               NaN
99985   POINT (-127.6308532403549 -56.43687792852118)               NaN
99986   POINT (-36.80614075815205 -67.98867394046326)               NaN
99987     POINT (171.8268161428065 24.31547687425908)               NaN
99988   POINT (-170.4086141740947 -77.78112229344636)               NaN
99989     POINT (8.000443729519588 16.72939223528783)             Niger
99990     POINT (-15.814635856563 -11.17402218894172)               NaN
99991     POINT (102.770758486648 -86.63067708492707)        Antarctica
99992    POINT (163.8819916307306 -53.02393614298401)               NaN
99993    POINT (80.31980942566111 -68.35180672962852)        Antarctica
99994    POINT (125.5365939657889 -68.82617400614792)        Antarctica
99995    POINT (-85.60212795055108 17.23237119488343)               NaN
99996    POINT (40.69356226187321 -14.69362971168681)        Mozambique
99997    POINT (-128.6152291342471 12.12460906645376)               NaN
99998     POINT (120.8766583259193 82.43217174684384)               NaN
99999     POINT (86.42674123889327 27.14534732991446)             Nepal

[100000 rows x 2 columns]

In [13]:
x = PrettyTable()

x.field_names = ["S.No." ," Number of Partitions", "Data Points per partition", "Time taken to run(minutes)"]
x.add_row([0, 0, 1000000, 155])
x.add_row([1, 4, 250000, 55])
x.add_row([2, 8, 125000, 40])
x.add_row([3, 12, 83333, 36])                 
x.add_row([4, 16, 6250, 35.5])
x.add_row([5, 32, 3125, 30.5])

In [14]:
print("For 1 million data points")
print(x)

For 1 million data points
+-------+-----------------------+---------------------------+----------------------------+
| S.No. |  Number of Partitions | Data Points per partition | Time taken to run(minutes) |
+-------+-----------------------+---------------------------+----------------------------+
|   0   |           0           |          1000000          |            155             |
|   1   |           4           |           250000          |             55             |
|   2   |           8           |           125000          |             40             |
|   3   |           12          |           83333           |             36             |
|   4   |           16          |            6250           |            35.5            |
|   5   |           32          |            3125           |            30.5            |
+-------+-----------------------+---------------------------+----------------------------+